<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='/index.css' />
		<title>Login</title>
	</head>
	<body>
		<section style='width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;'>{{body}}</section>
	</body>
</html>