<form action="/login" method="post">
	<input class="input" type='text' name='username' placeholder='Enter username' />
	<input class="input" type='text' name='password' placeholder='Enter password' />
	<input class="button clickable safe" type='submit' value='Login' />
	<a href="/signup">Signup</a>
</form>